<div>
    <h1>AGENDAMENTO</h1>
    <div>
        <select ng-model="period" ng-change="initClearCollections()" id="period">
            <option value="">Selecione</option>
            <option ng-value=MINUTE>Minuto</option>
            <option ng-value=HOUR>Hora</option>
            <option ng-value=WEEKLY>Semanal</option>
            <option ng-value=MONTHLY>Mensal</option>
        </select>
    </div>
    <br>
    <div ng-show="period" id="dateHour">
        <span>
            <label>Data</label>
            <input type="text" ng-model="date" id="dateFrom">
        </span>
        <span>
            <label>Hora</label>
            <input type="text" ng-model="hour" id="hourFrom">
        </span>
    </div>
    <br>
    <div ng-show="period == MINUTE" style="width:96%; height: 200px;" id="divMinute">
        <h3>Minuto</h3>
        <span>
            <label>A cada: </label>
            <input type="text" ng-model="selectedMinute" id="minute">
            <label> minutos</label>
        </span>
    </div>
    <div ng-show="period == HOUR" style="width:96%; height: 200px;" id="divHour">
        <h3>Hora</h3>
        <br>
        <input type="radio" name="horaOpt" ng-model="horaOpt" value="H" id="optHour"> Por hora
        <input type="radio" name="horaOpt" ng-model="horaOpt" value="S" id="optEspecific"> Hora especifica
        <br><br>
        <span ng-show="horaOpt == 'H'">
            <label>A cada: </label>
            <input type="text" ng-model="hour" id="hour">
            <label> horas</label>
        </span>
        <div ng-show="horaOpt == 'S'" ng-repeat="hour in hours" id="divEspecific" style="float:left; width: 12%;" ng-style="{'clear': (($index % 8) === 0) ? 'both' : 'none'}">
            <input
            type="checkbox"
            id="check_hour_{{hour.hour}}"
            name="selectedHour"
            value="{{hour.hour}}"
            ng-model="selectedHour"
            ng-click=selectHour(hour)
            ng-checked="selectedHours.indexOf(hour.value) != -1"> {{hour.hour}}
        </div>
    </div>
    <div ng-show="period == WEEKLY" style="width:98%; height: 200px;" id="divWeek">
        <h3>Semanal</h3>
        <div ng-repeat="day in week" style="float:left; width: 20%;" id="divWeeks" ng-style="{'clear': (($index % 3) === 0) ? 'both' : 'none'}">
            <input
            type="checkbox"
            name="selectedDay"
            id="check_week_{{day.value}}"
            value="{{day.value}}"
            ng-model="selectedDay"
            ng-click=selectDayOfWeek(day)
            ng-checked="selectedWeekDays.indexOf(day) != -1"> {{day.day}}
        </div>
        <div style="clear: both;">
            <input
            type="checkbox"
            name="selectAllDays"
            ng-model="allDaysOfWeekSelected"
            ng-click="selectAllDaysOfWeek()"> Todos
        </div>
    </div>
    <div ng-show="period == MONTHLY" style="width:100%; height: 400px;">
        <h3>Mensal</h3>
        <h4>Meses</h4>
        <div ng-repeat="month in months" style="float:left; width: 20%;" ng-style="{'clear': (($index % 3) === 0) ? 'both' : 'none'}">
            <input
            type="checkbox"
            name="selectedMonth"
            value="{{month.value}}"
            ng-model="selectedMonth"
            ng-click=selectMonth(month.value)
            ng-checked="selectedMonths.indexOf(month.value) != -1"> {{month.month}}
        </div>
        <div style="clear: both;">
            <input
            type="checkbox"
            name="selectAllMonths"
            ng-model="allMonthsSelected"
            ng-click="selectAllMonths()"> Todos
        </div>
        <div style="clear: both;"></div>
        <h4>Dias</h4>
        <div ng-repeat="day in days" style="float:left; width: 7%;" ng-style="{'clear': ((($index + 1) % 11) === 0) ? 'both' : 'none'}">
            <input
            type="checkbox"
            name="selectedMonth"
            value="{{day.day}}"> {{day.day}}
        </div>
    </div>
</div>
<br><br>
{{chronexpression}}
<br><br>

<div>
    <input type="button" ng-click="extractChron()" value="Show chron" >
</div>